:root {
    --repeat-count: 16;
    --track-size-height: calc(50rem / 16);
    --track-size-width: calc(50rem / 16);
    --default-color: #000000;
}

#heading, #sliderNumber {
    text-align: center;
}

#container, #container > div:not(#sketchArea), #slideContainer {
    display: flex;
    align-items: center;   
    justify-content: center;
    gap: 0.25rem;
}

#sidebar, #slideContainer {
    flex-direction: column;
}

#sliderLabel {
    margin-top: 1rem;
}

#sliderNumber {
    width: 2.5rem;
}

#slideContainer {
    width: 1rem;
    height: 40rem;
}
  
/* The slider itself */
#slider {
    transform: rotate(-270deg);
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin: 0rem;
    width: 40rem; /* Full-width */
    height: 1rem; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
#slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#sketchArea {
    display: grid;
    grid-template-columns: repeat(var(--repeat-count), var(--track-size-height));
    grid-template-rows: repeat(var(--repeat-count), var(--track-size-width));
    border: 1px solid black;
    height: 50rem;
    width: 50rem;
    min-height: 350px;
    min-width: 350px;
}

.sketch-element {
    width: var(--track-size-width);
    height: var(--track-size-height);
}

.default {
    background-color: var(--default-color);
}

.default-erase {
    background-color: white;
}
  