:root {
    --repeat-count: 16;
    --track-size-height: calc(50rem / 16);
    --track-size-width: calc(50rem / 16);
    --font-color: #6c6c6c;
}

body {
    background-color: #f9f9f9;
}

#heading, #sliderNumber, #sliderLabel {
    text-align: center;
    color: var(--font-color);
}

#container, #container > div:not(#sketchArea), #slideContainer, #actions {
    display: flex;
    align-items: center;   
    justify-content: center;
    gap: 0.25rem;
}

#container {
    gap: 1rem;
}

#sidebar, #slideContainer {
    flex-direction: column;
}

.clr-field, .clr-field > button {
    width: 2rem;
    height: 2rem;
}

.clr-field > button {
    box-shadow: 0 1px .25rem #a0a0a0;
    width: 100% !important;
    border-radius: 2rem;
    border: 1px solid var(--font-color);
}

.clr-field > input {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    opacity: 0;
    cursor: context-menu;
}

#actions {
    width: 5rem;
    flex-wrap: wrap;
}

#actions > button {
    height: 1.75rem;
    padding: 1px 4px;
}

.actions-icons {
    height: 1.25rem;
}

#sliderLabel {
    margin-top: 1rem;
}

#sliderNumber {
    width: 2.5rem;
}

#slideContainer {
    width: 1rem;
    height: 40rem;
}
  
/* The slider itself */
#slider {
    border-radius: 1rem;
    transform: rotate(-270deg);
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin: 0rem;
    width: 40rem; /* Full-width */
    height: .6rem; /* Specified height */
    background: var(--font-color); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
#slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1.5rem; /* Set a specific slider handle width */
    height: 1.5rem; /* Slider handle height */
    border-radius: 0.75rem;
    background: #d3d3d3; /* Gray background */
    cursor: pointer; /* Cursor on hover */
}

#slider::-moz-range-thumb {
    width: 1.5rem; /* Set a specific slider handle width */
    height: 1.5rem; /* Slider handle height */
    border-radius: 0.75rem;
    background: #d3d3d3; /* Gray background */
    cursor: pointer; /* Cursor on hover */
}

#sketchArea {
    display: grid;
    background-color: white;
    box-shadow: 0 1px 1rem #a0a0a0;
    grid-template-columns: repeat(var(--repeat-count), var(--track-size-height));
    grid-template-rows: repeat(var(--repeat-count), var(--track-size-width));
    height: 50rem;
    width: 50rem;
    min-height: 350px;
    min-width: 350px;
}

.sketch-element {
    width: var(--track-size-width);
    height: var(--track-size-height);
}

.display-none {
    display: none;
}

.toggle-enabled {
    background-color: var(--font-color);
}
  